html {
    font-family: 'Roboto', sans-serif;
}
#firstblueheader {
    background-image: url("assets/design-assets/bgk-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;   
}

.firstbluemain {
    display:flex;
    margin-left: 300px;
    margin-right: 300px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
}

.navbar li {
    display: inline;
    margin: 20px;
    color:white;
}

.navbar {
    display: flex;
    float: right;
    margin-left: auto;
    margin-top: 40px;
}

.firstlogo {
    display:flex;
    margin-top: 40px;
}

.firstlogo p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    font-weight:lighter;
    color:aqua;
}

.firstlogo img {
    margin-right: 20px;
    width: 70px;
}

.firstbluesection h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    color: white;
}
.firstbluesection p {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.firstbluesection {
    display: flex;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    flex-direction: column;
}
.button {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: aqua;
    border-color: aqua;
    padding: 10px;
    font-size: 11px;   
}





.firstwhiteheader {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.secondlogo {
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
}
.firstwhitesection {
    width: 600px;
    margin-left: 0px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    float: right;
    text-align: left;
}





#content {
    background-image: url("assets/design-assets/bgk-middle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;   
    width: 100%;
}

#video {
    display: flex;
    align-items: center;
}